code {
  margin: 0;
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  background-color: rgba(27, 31, 35, 0.05);
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 0.85em;
}

code .token.deleted {
  color: #ec5975;
}

div[class*='language-'] {
  position: relative;
  margin: 1rem -1.5rem;
  background-color: #fafafa;
  overflow-x: auto;
  border: 1px solid whitesmoke;
}

li > div[class*='language-'] {
  border-radius: 6px 0 0 6px;
  margin: 1rem -1.5rem 1rem -1.25rem;
}

@media (min-width: 420px) {
  div[class*='language-'] {
    margin: 1rem 1.8rem;
    border-radius: 6px;
  }

  li > div[class*='language-'] {
    margin: 1rem 0 1rem 0rem;
    border-radius: 6px;
  }

  .lay-code div[class*='language-'] {
    margin: 1rem 0.8rem;
    margin: 0.5rem 0.8rem 1rem 0.8rem;
    border-radius: 6px;
  }
}

[class*='language-'] pre,
[class*='language-'] code {
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

[class*='language-'] pre {
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 1.25rem 1.5rem;
  background: transparent;
  overflow-x: auto;
}

[class*='language-'] pre p {
  margin: auto !important;
}

[class*='language-'] code {
  padding: 0;
  color: #303133;
  background-color: #fafafa;
  letter-spacing: 0.5px;
  line-height: 23px;
  font-size: 14px;
}

/**
 * prism.js tomorrow night eighties for JavaScript, CoffeeScript, CSS and HTML.
 * Based on https://github.com/chriskempson/tomorrow-theme
 *
 * @author Rose Pritchard
 */
.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #999;
}

.token.punctuation {
  color: #ccc;
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
  color: #e2777a;
}

.token.function-name {
  color: #6196cc;
}

.token.boolean,
.token.number,
.token.function {
  color: #f5871f;
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
  color: #f5871f;
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
  color: #cc99cd;
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
  color: #7ec699;
}

.token.operator,
.token.entity,
.token.url {
  color: #67cdcc;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.entity {
  cursor: help;
}

.token.inserted {
  color: green;
}
