.layui-form-item {
  margin-bottom: 20px;
  clear: both;
}

.layui-form-item-right .layui-form-label {
  text-align: right;
}

.layui-form-item-left .layui-form-label {
  text-align: left;
}

.layui-form-item-top .layui-form-label {
  text-align: left;
  float: none;
}

.layui-form-item-top > div {
  margin-left: 0;
}

.layui-form-item:after {
  content: "\20";
  clear: both;
  display: block;
  height: 0;
}

.layui-form-label {
  float: left;
  display: block;
  width: 95px;
  padding-right: 15px;
  line-height: 38px;
  font-weight: 400;
}

.layui-form-label-col {
  display: block;
  float: none;
  padding: 9px 0;
  line-height: 20px;
  text-align: left;
}

.layui-form-item .layui-inline {
  margin-bottom: 5px;
  margin-right: 10px;
}

.layui-input-block {
  margin-left: 110px;
  min-height: 36px;
}

.layui-input-inline {
  display: inline-block;
  vertical-align: middle;
}

.layui-form-item .layui-input-inline {
  float: left;
  width: 190px;
  margin-right: 10px;
}

.layui-form-text .layui-input-inline {
  width: auto;
}

.layui-form-mid {
  float: left;
  display: block;
  padding: 9px 0 !important;
  line-height: 20px;
  margin-right: 10px;
}

.layui-form-danger + .layui-form-select .layui-input,
.layui-form-danger:focus {
  border-color: #ff5722 !important;
}

.layui-form-item .layui-form-checkbox {
  margin-top: 4px;
}

.layui-form-item .layui-form-checkbox[lay-skin="primary"] {
  margin-top: 10px;
}

.layui-required {
  color: #ff5722;
  font-size: 12px;
  line-height: 1;
}

.layui-form .layui-form-item {
  .layui-input-block,
  .layui-input-inline {
    .layui-form-danger {
      &, .layui-textarea, .layui-tag-input, .layui-input {
        border-color: #ff5722 !important;
      }
    }
  }
}

.layui-error-message {
  color: #ff5722;
  font-size: 12px;
  line-height: 1;
  padding-top: 5px;
  position: absolute;
  top: 100%;
  left: 0;
}

.layui-error-message-anim {
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-animation: layui-top-show-anim 0.3s ease 1;
  animation: layui-top-show-anim 0.3s ease 1;
}

@keyframes layui-top-show-anim {
  0% {
    opacity: 0.3;
    transform: rotateX(45deg);
  }

  100% {
    opacity: 1;
    transform: rotateX(0);
  }
}
