@import "../popper/index.less";

.layui-slider-v {
  width: 100%;
  height: 18px;
  margin-bottom: 8px;
}

.layui-slider-track-v {
  width: 100%;
  height: 16px;
  position: relative;
  cursor: pointer;
  z-index: 30;
}

.layui-slider-btn-v {
  width: 12px;
  height: 12px;
  background-color: white;
  position: absolute;
  border: 2px solid var(--global-primary-color);
  border-radius: 50%;
  cursor: pointer;
  left: 0%;
  z-index: 2;
}

.layui-slider-rate-v {
  width: 0%;
  height: 4px;
  position: absolute;
  top: 6px;
  left: 0;
  background-color: var(--global-primary-color);
  z-index: 1;
}

.layui-slider-line-v {
  width: 100%;
  height: 4px;
  background-color: #cccccc;
  position: absolute;
  top: 6px;
}
.layui-slider-disabled {
  cursor: not-allowed !important;
}
.layui-slider-disabled .disable-line {
  background-color: #c2c2c2 !important;
}

.layui-slider-disabled .disable-btn {
  border: 2px solid #333333;
}

.layui-slider-disabled-rate {
  background-color: var(--global-primary-color) !important;
}

// 纵向样式
.layui-slider-vertical {
  width: 18px;
  height: 200px;
}

.layui-slider-vertical-track {
  width: 100%;
  height: 100%;
  position: relative;
}

.layui-slider-vertical-btn {
  width: 12px;
  height: 12px;
  background-color: white;
  position: absolute;
  border: 2px solid var(--global-primary-color);
  border-radius: 50%;
  cursor: pointer;
  bottom: 0%;
  left: 1px;
  z-index: 2;
}

.layui-slider-vertical-rate {
  width: 4px;
  height: 30%;
  position: absolute;
  bottom: 0;
  left: 7px;
  background-color: var(--global-primary-color);
  z-index: 1;
}

.layui-slider-vertical-line {
  width: 4px;
  height: 100%;
  position: absolute;
  left: 7px;
  background-color: #eee;
}

.layui-slider-srange {
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
}

.layui-slider-vrange {
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
}
.layui-slider-dots {
  margin-top: 4px;
  width: 8px;
  height: 8px;
  background-color: #ffffff;
  border-radius: 5px;
  position: absolute;
  top:0;
  z-index: 1;
}

.layui-slider-vertical-dots {
  width: 8px;
  height: 8px;
  background-color: #ffffff;
  border-radius: 5px;
  position: absolute;
  z-index: 1;
  margin-left: 5px;
}