.layui-select {
  width: 220px;
}

.layui-select-options {
  padding: 5px 0;
}

.layui-select-options .layui-select-option {
  padding: 0 10px;
  line-height: 36px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.layui-select-options .layui-select-option.layui-this {
  background-color: var(--global-neutral-color-2);
  color: var(--global-checked-color);
}