@import "./variable.less";
@import "./public.less";
@import "./date.less";

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

a,
body {
  color: #333;
}

li {
  list-style: none;
}

.layui-inline {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.layui-btn,
.layui-edge,
.layui-inline {
  vertical-align: middle;
}

.layui-elip,
.layui-form-checkbox span,
.layui-form-pane .layui-form-label {
  text-overflow: ellipsis;
  white-space: nowrap;
}

body,
button,
dd,
div,
dl,
dt,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
}

img {
  border: none;
  display: inline-block;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h4,
h5,
h6 {
  font-size: 100%;
}

button,
input,
optgroup,
option,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  outline: 0;
}

body {
  line-height: 1.6;
  color: rgba(0, 0, 0, 0.85);
  font: 14px Helvetica Neue, Helvetica, PingFang SC, Tahoma, Arial, sans-serif;
}

hr {
  padding: 0;
  line-height: 0;
  margin: 10px 0;
  border: none !important;
  border-bottom: 1px solid #EEEEEE!important;
  clear: both;
  background: 0 0;
}

a {
  text-decoration: none;
}

a:hover {
  color: #777;
}

.layui-border-box,
.layui-border-box * {
  box-sizing: border-box;
}

.layui-btn,
.layui-btn-group,
.layui-edge {
  display: inline-block;
}

.layui-disabled,
.layui-disabled:hover {
  color: @global-neutral-color-6 !important;
  cursor: not-allowed !important;
}

.layui-btn,
.layui-input,
.layui-select,
.layui-textarea,
.layui-upload-button {
  outline: 0;
  -webkit-appearance: none;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  box-sizing: border-box;
}

.layui-form-label,
.layui-form-mid,
.layui-input-block,
.layui-input-inline,
.layui-input-wrap,
.layui-textarea {
  position: relative;
}

.layui-border,
.layui-colla-content,
.layui-colla-item,
.layui-collapse,
.layui-form-pane .layui-form-item[pane],
.layui-form-pane .layui-form-label,
.layui-iconpicker,
.layui-iconpicker-main,
.layui-input-split,
.layui-layedit,
.layui-layedit-tool,
.layui-quote-nm,
.layui-tab-bar,
.layui-tab-card,
.layui-tab-title,
.layui-tab-title .layui-this:after {
  border-color: @global-neutral-color-3;
}

.layui-form input[type="checkbox"],
.layui-form input[type="radio"],
.layui-form select {
  display: none;
}

.layui-form-checkbox,
.layui-form-checkbox *,
.layui-form-switch {
  display: inline-block;
  vertical-align: middle;
}

.layui-iconpicker-list li,
.layui-keyboard-list li,
.layui-menu li,
.layui-menu-body-title a:hover,
.layui-menu-body-title > .layui-icon:hover {
  transition: all 0.3s;
}

.layui-colorpicker-alpha-slider,
.layui-colorpicker-side-slider,
.layui-menu *,
.layui-menu,
.layui-nav {
  box-sizing: border-box;
}