@import "./code.css";

button + button {
  margin-left: 10px;
}
button {
  height: 38px;
  line-height: 36px;
  padding: 0 18px !important;
  color: #fff;
  font-size: 14px;
  text-align: center;
  white-space: nowrap;
  border: 1px solid #eee;
  background-color: 0 0;
  border-radius: 2px;
  cursor: pointer;
  background: 0 0;
  color: #666;
}
input {
  height: 34px;
  margin-left: 10px;
  line-height: 1.3;
  line-height: 38px !important;
  border-width: 1px;
  border-style: solid;
  background-color: #fff;
  color: #000000d9;
  border-radius: 2px;
  border-color: #eee;
  display: block;
  width: 200px;
  padding-left: 10px;
  outline: none;
  display: inline-block;
}
input + input {
  margin-top: 10px;
  margin-bottom: 10px;
}
table * {
  font-size: 14px;
}

table {
  width: 100% !important; /*表格宽度*/
  border: 1px solid whitesmoke; /*表格外边框设置*/
  border-spacing: 0;
}
table th,
table td {
  height: 35px; /*统一每一行的默认高度*/
  border: 1px solid whitesmoke; /*内部边框样式*/
  padding: 0 10px; /*内边距*/
  padding-left: 20px !important;
}
table th {
  font-weight: 400;
}
table tr:hover {
  background: #efefef;
}
table th {
  text-align: left;
  white-space: nowrap; /*表头内容强制在一行显示*/
}
table td {
  text-align: left;
  white-space: nowrap;
}
