// 主题色
@global-primary-color: #009688;

// 选中色
@global-checked-color: #5FB878;

// 圆角度
@global-border-radius: 2px;

// 前景色  
@global-fore-color: #ffffff;

// 背景色
@global-back-color: #393D49;


@button-primary-color: @global-primary-color;

@button-border-radius: @global-border-radius;

@table-primary-color: @global-primary-color;