@global-primary-color: var(--global-primary-color);

@global-checked-color: var(--global-checked-color);

@global-border-radius: var(--global-border-radius);

@global-fore-color: var(--global-fore-color);

@global-back-color: var(--global-back-color);

:root {

  --global-primary-color: #009688;

  --global-checked-color: #5fb878;

  --global-border-radius: 2px;

  --global-fore-color: #393d49;

  --global-back-color: #ffffff;

}

body[lay-theme='dark'] {

  --global-fore-color: #ffffff;

  --global-back-color: #393d49;
}
