:root {
  --c-white: #ffffff;
  --c-black: #000000;
}

:root {
  --code-line-height: 24px;
  --code-font-family: var(--font-family-mono);
  --code-font-size: 14px;
  --code-inline-bg-color: rgba(27, 31, 35, 0.05);
  --code-bg-color: #282c34;
}
