.layui-elem-quote {
    margin-bottom: 10px;
    padding: 15px;
    line-height: 1.6;
    border-left: 5px solid #5fb878;
    border-radius: 0 2px 2px 0;
    background-color: #fafafa;
}

.layui-quote-nm {
    border-style: solid;
    border-width: 1px 1px 1px 5px;
    background: 0 0;
}