.DS_Store
node_modules/
dist/
example/dist/
lib/
es/
umd/
esm/
/types/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock
package-lock.json

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
pnpm-lock.yaml
