@import './code.css';
@import './markdown.css';
@import './mobile.css';

.layui-menu-lg li {
  line-height: 32px;
}

.layui-menu-lg .layui-menu-body-title a:hover,
.layui-menu-lg li:hover {
  background: 0 0;
  color: var(--global-checked-color);
}

.layui-menu-lg li .layui-menu-body-panel {
  margin-left: 14px;
}

.layui-menu-lg li .layui-menu-body-panel-left {
  margin: 0 15px;
}

.layui-menu .layui-menu-item-checked,
.layui-menu .layui-menu-item-checked2 {
  background-color: var(--global-neutral-color-2) !important;
  border-radius: 4px;
}

.layui-menu .layui-menu-item-checked a,
.layui-menu .layui-menu-item-checked2 a {
  color: var(--global-checked-color);
}

.layui-menu-body-title a {
  display: block;
  margin: -5px -15px;
  color: rgba(0, 0, 0, 0.8);
  white-space: nowrap;
}

.theme-panel .layui-dropdown{
  width: auto
}

#nprogress .spinner {
  top: 20px;
}

#nprogress .bar {
  z-index: 9999999;
  background-color: var(--global-primary-color);
}

#nprogress .spinner-icon {
  border-top-color: var(--global-primary-color);
}