.utterances {
  margin-top: 30px;
  max-width: 100%;
}

html {
  line-height: 1.4;
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
}

h4 {
  font-weight: 600 !important;
  font-size: 16.8px !important;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

h5 {
  font-weight: 700;
  font-size: 16.8px;
}

h1,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #333;
  line-height: 1.25;
}

h1:hover .header-anchor,
h1:focus .header-anchor,
h2:hover .header-anchor,
h2:focus .header-anchor,
h3:hover .header-anchor,
h3:focus .header-anchor,
h4:hover .header-anchor,
h4:focus .header-anchor,
h5:hover .header-anchor,
h5:focus .header-anchor,
h6:hover .header-anchor,
h6:focus .header-anchor {
  opacity: 1;
}

h1 {
  margin-top: 1.5rem;
  font-size: 1.9rem;
}

@media screen and (min-width: 420px) {
  h1 {
    font-size: 2.2rem;
  }
}

h4 {
  font-size: 1.15rem;
}

h1 {
  margin-top: 4px !important;
  margin-bottom: 22px !important;
  color: #000000d9 !important;
  font-weight: 500 !important;
  font-size: 20px !important;
  font-family: Avenir, -apple-system, BlinkMacSystemFont, segoe ui, Roboto,
    helvetica neue, Arial, noto sans, sans-serif, apple color emoji,
    segoe ui emoji, segoe ui symbol, noto color emoji, sans-serif;
  line-height: 38px;
}

area,
button,
[role='button'],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}

a.header-anchor {
  float: left;
  margin-top: 0.125em;
  margin-left: -0.87em;
  padding-right: 0.23em;
  font-size: 0.85em;
  opacity: 0;
}

a.header-anchor:hover,
a.header-anchor:focus {
  text-decoration: none;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
}

form {
  margin: 0;
}

.site-doc-icon {
  margin-bottom: 50px;
  font-size: 0;
}

.site-doc-icon li .doc-icon-name,
.site-doc-icon li .doc-icon-code {
  color: #c2c2c2;
}

.site-doc-icon li .doc-icon-fontclass {
  height: 40px;
  line-height: 20px;
  padding: 0 5px;
  font-size: 13px;
  color: #333;
}

.site-doc-icon li {
  display: inline-block;
  vertical-align: middle;
  width: 16.5%;
  height: 105px;
  line-height: 25px;
  padding: 20px 0;
  margin-right: -1px;
  margin-bottom: -1px;
  border: 1px solid #e2e2e2;
  font-size: 14px;
  text-align: center;
  color: #666;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}
.site-doc-icon li:hover{
  background-color: #F6F6F6;
}

.site-doc-icon li .layui-icon {
  display: inline-block;
  font-size: 32px;
}

.site-doc-color {
  margin: 15px 0;
}

.site-doc-necolor li div {
  border-radius: 0;
  color: #000 !important;
}

.site-doc-color li div {
  padding: 20px 10px;
  color: #fff;
  text-align: center;
  line-height: 1.6;
  font-size: 14px;
}

.site-doc-bgcolor li {
  padding: 20px 10px;
}

.anim .site-doc-icon {
  margin-bottom: 50px;
  font-size: 0;
}

.anim .site-doc-icon li {
  width: 50%;
}

.anim .site-doc-anim li {
  height: auto;
}

.anim .site-doc-icon li {
  display: inline-block;
  vertical-align: middle;
  width: 16.5%;
  height: 105px;
  line-height: 25px;
  padding: 20px 0;
  margin-right: -1px;
  margin-bottom: -1px;
  border: 1px solid #e2e2e2;
  font-size: 14px;
  text-align: center;
  color: #666;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

.anim .site-doc-icon li .layui-anim {
  width: 125px;
  height: 125px;
  line-height: 125px;
  margin: 0 auto 10px;
  text-align: center;
  background-color: var(--global-primary-color);
  cursor: pointer;
  color: #fff;
  border-radius: 50%;
}

.anim .site-doc-icon li .code {
  white-space: nowrap;
}

.markdown-body th {
  text-align: left;
}

body::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.layui-menu-item-group {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.layui-menu .layui-menu-item-group > .layui-menu-body-title {
  padding-left: 15px;
}

.lay-link:hover{
  color: #5FB878;
}

.describe-plugin {
  padding-bottom: 20px;
  padding-left: 30px;
  padding-top: 20px;

}

.describe-plugin code {
  margin: 0 1px;
  padding: 0.2em 0.4em;
  font-size: .9em;
  background: #f2f4f5;
  border: 1px solid rgba(0,0,0,.06);
  border-radius: 3px;
}