@media screen and (max-width:768px) {
    #app > .layui-layout > .layui-header > .layui-logo {
        display: none;
    }
    #app > .layui-layout > .layui-header > .layui-layout-right {
        display: none;
    }
    #app > .layui-layout > .layui-header > .layui-layout-left {
        display: none;
    }
    #app > .layui-layout > .layui-layout > .layui-side {
        display: none;
    }
    #app > .layui-layout > .layui-layout > .layui-body {
        width: 100%;
        left: 0px;
    }
    #app > .layui-layout > .layui-layout > .layui-body > div {
        padding: 10px!important;
        margin-right: 0px!important;
        width: calc(100% - 20px)!important;
    }
    #app > .layui-layout > .layui-layout > .layui-body  .lay-aside {
        display: none;
    }
    #app > .layui-layout .site-banner {
        background-size: 100% 100%;
    }
    #app > .layui-layout .link-list {
        padding: 20px 0px;
    }
    #app > .layui-layout .box-list {
        padding: 30px 30px;
    }
}
